Source: account-plugins
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               gobject-introspection,
               python3,
               pkg-config,
               libaccounts-glib-dev (>= 1.10),
               libsignon-glib-dev,
               libaccount-plugin-1.0-dev (>= 0.1.3),
               valac (>= 0.16),
               gnome-common,
               dh-autoreconf,
               libxml2-utils,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/account-plugins
# If you aren't a member of ~online-accounts but need to upload packaging changes,
# just go ahead.  ~online-accounts will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/account-plugins/trunk

Package: libaccount-plugin-generic-oauth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         signon-plugin-oauth2,
Replaces: account-plugin-generic-oauth (<< 0.10bzr13.04.30)
Breaks: account-plugin-generic-oauth (<< 0.10bzr13.04.30)
Conflicts: account-plugin-generic-oauth (<< 0.10bzr13.04.30),
           account-plugin-windows-live,
Description: GNOME Control Center account plugin for single signon - generic OAuth
 GNOME Control Center account plugins for single signon

Package: libaccount-plugin-google
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         signon-plugin-oauth2,
Replaces: account-plugin-google (<< 0.10bzr13.04.30)
Breaks: account-plugin-google (<< 0.10bzr13.04.30)
Conflicts: account-plugin-google (<< 0.10bzr13.04.30)
Description: GNOME Control Center account plugin for single signon - Google Auth
 GNOME Control Center account plugins for single signon

Package: account-plugin-google
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         libaccount-plugin-google | ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon
 GNOME Control Center account plugins for single signon

Package: account-plugin-facebook
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth | ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - facebook
 GNOME Control Center account plugins for single signon

Package: account-plugin-twitter
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth | ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - twitter
 GNOME Control Center account plugins for single signon

Package: account-plugin-flickr
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth | ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - flickr
 GNOME Control Center account plugins for single signon

Package: account-plugin-identica
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - identica
 GNOME Control Center account plugins for single signon

Package: account-plugin-foursquare
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - foursquare
 GNOME Control Center account plugins for single signon

Package: account-plugin-sohu
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - sohu
 GNOME Control Center account plugins for single signon

Package: account-plugin-sina
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - sina
 GNOME Control Center account plugins for single signon

Package: account-plugin-linkedin
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - LinkedIn
 GNOME Control Center account plugins for single signon

Package: account-plugin-instagram
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugin for single signon - Instagram
 GNOME Control Center account plugins for single signon

Package: account-plugin-mcloud
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
Description: Account plugin for online accounts - mCloud
 Online Accounts plugin provide the user interface to create accounts for
 third party services.

Package: account-plugin-owncloud
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
Description: Account plugin for online accounts - ownCloud
 Online Accounts plugin provide the user interface to create accounts for
 third party services.

Package: account-plugin-vk
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth | ubuntu-system-settings-online-accounts,
Description: GNOME Control Center account plugin for single signon - VKontakte
 GNOME Control Center account plugins for single signon

Package: account-plugin-tools
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-gi,
         gir1.2-glib-2.0,
         gir1.2-signon-1.0,
         gir1.2-accounts-1.0,
         signon-plugin-oauth2,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: GNOME Control Center account plugins for single signon - tools
 GNOME Control Center account plugins for single signon

Package: account-plugin-icons
Depends: unity-asset-pool, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
