Source: account-plugins
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               intltool,
               pkg-config,
               libaccounts-glib-dev (>= 1.10),
               dh-autoreconf,
               libxml2-utils,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/account-plugins
# If you aren't a member of ~online-accounts but need to upload packaging changes,
# just go ahead.  ~online-accounts will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~online-accounts/account-plugins/trunk

Package: account-plugin-google
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Google
 This plugin adds support for creating Google accounts in the Unity Control
 Center

Package: account-plugin-facebook
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Facebook
 This plugin adds support for creating Facebook accounts in the Unity Control
 Center

Package: account-plugin-twitter
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Twitter
 This plugin adds support for creating Twitter accounts in the Unity Control
 Center

Package: account-plugin-flickr
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Flickr
 This plugin adds support for creating Flickr accounts in the Unity Control
 Center

Package: account-plugin-identica
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - identi.ca
 This plugin adds support for creating identi.ca accounts in the Unity Control
 Center

Package: account-plugin-foursquare
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - FourSquare
 This plugin adds support for creating FourSquare accounts in the Unity
 Control Center

Package: account-plugin-sohu
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Sohu
 This plugin adds support for creating Sohu accounts in the Unity Control
 Center

Package: account-plugin-sina
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Sina
 This plugin adds support for creating Sina accounts in the Unity Control
 Center

Package: account-plugin-linkedin
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - LinkedIn
 This plugin adds support for creating LinkedIn accounts in the Unity Control
 Center

Package: account-plugin-instagram
Architecture: all
Depends: ${misc:Depends},
         libaccount-plugin-generic-oauth,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugin for Unity - Instagram
 This plugin adds support for creating Instagram accounts in the Unity Control
 Center

Package: account-plugin-mcloud
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
Description: Online account plugin for Unity - mCloud
 This plugin adds support for creating mCloud accounts in the Unity Control
 Center

Package: account-plugin-microsoft
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
Description: Online account plugin for Unity - Microsoft
 This plugin adds support for creating microsoft accounts in the Unity Control
 Center

Package: account-plugin-nextcloud
Architecture: all
Depends: ${misc:Depends},
         signon-plugin-password,
         ubuntu-system-settings-online-accounts,
Description: Online account plugin for Unity - Nextcloud
 This plugin adds support for creating Nextcloud accounts in the Unity Control
 Center

Package: account-plugin-owncloud
Architecture: all
Depends: ${misc:Depends},
         signon-plugin-password,
         ubuntu-system-settings-online-accounts,
Description: Online account plugin for Unity - ownCloud
 This plugin adds support for creating ownCloud accounts in the Unity Control
 Center

Package: account-plugin-vk
Architecture: all
Depends: ${misc:Depends},
         ubuntu-system-settings-online-accounts,
Description: Online account plugin for Unity - VKontakte
 This plugin adds support for creating VKontakte accounts in the Unity Control
 Center

Package: account-plugin-tools
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-gi,
         gir1.2-glib-2.0,
         gir1.2-signon-1.0,
         gir1.2-accounts-1.0,
         signon-plugin-oauth2,
         unity-asset-pool (>> 0.8.24daily12.12.05-0ubuntu1),
Description: Online account plugins for Unity - tools
 Command line tools for managing Online Accounts.
