<?xml version="1.0" encoding="UTF-8" ?>
<service id="flickr-microblog">
  <type>microblogging</type>
  <name>Flickr</name>
  <icon>flickr</icon>
  <provider>flickr</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="gwibber">
      <setting name="color">#A63FF4</setting>
    </group>
  </template>

</service>
