<?xml version="1.0" encoding="UTF-8" ?>
<service id="MyService">
  <type>e-mail</type>
  <name>GMail</name>
  <icon>icon_gmail</icon>
  <provider>google</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="incoming">
			<setting name="protocol">imap</setting>
      <setting name="server">imap.gmail.com</setting>
      <setting name="port" type="i">993</setting>
      <setting name="use-ssl" type="b">1</setting>
    </group>
    <group name="outgoing">
			<setting name="protocol">smtp</setting>
      <setting name="server">smtp.gmail.com</setting>
      <setting name="port" type="i">465</setting>
      <setting name="use-auth" type="b">1</setting>
      <setting name="use-ssl" type="b">1</setting>
    </group>
  </template>

</service>
