<?xml version="1.0" encoding="UTF-8" ?>
<service id="jabber-im">
  <type>IM</type>
  <name>Jabber</name>
  <icon>xmpp</icon>
  <provider>jabber</provider>
  <translations>account-plugins</translations>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="telepathy">
      <setting name="mc-readonly-params" type="b">true</setting>
      <setting name="manager">gabble</setting>
      <setting name="protocol">jabber</setting>
    </group>
  </template>

</service>
